<h1><%= @restaurant.name %></h1>

<%= link_to '+Add review', new_restaurant_review_path(@restaurant.id)  %>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.category %></li>
  <li><%= @restaurant.phone_number %></li>
</ul>

<h2>Reviews:</h2>
<% if @restaurant.reviews.empty? %>
    <p>No reviews</p>
  <% else %>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Home', restaurants_path %>
